{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Detail
{% endblock title %}

{% block content %}

<div class="card  mt-4">
        <div class="card-header">
          <h5>{{post.title|title}}</h5>
        </div>
        <div class="card-body">
          <strong>likes : {{post.likes.count}}  {% if request.user.is_authenticated %}
            {% if request.user in post.likes.all %}
            
            <a href="{% url 'like_post' post.pk %}">Unlike</a>
            {% else %}
            <a href="{% url 'like_post' post.pk %}">Like</a>
            {% endif %}
            
            {% endif %}</strong>
          <p class="card-text">{{post.content|linebreaks}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
          {{post.created_at|timesince}} Ago
          <button type="button" class="btn btn-link"><a href="{% url 'edit_post' post.pk %}">Edit Post</a></button>
          <button type="button" class="btn btn-link"><a href="{% url 'delete_post' post.pk %}">Delete Post</a></button>

        </div>
    
</div>


<div class="container">
    {% if request.user.is_authenticated %}
  <form action="" method="post">{% csrf_token %}
    {{form|crispy}} 
    <button class="btn-success btn">Comment</button>
  </form>
  {% else %}
  <strong>Please login in add comment <a href="/admin">Login</a></strong>
  {% endif %}
</div>

<div class="card  mt-4">
{% for comment in comments %}
<blockquote class="blockquote text-left">
  <p class="mb-0">{{comment.comment_text}}</p>
  <footer class="blockquote-footer"> <cite title="Source Title">{{comment.comment_by}} | {{comment.created_at|timesince}} Ago</cite></footer>
</blockquote>
{% endfor %}
{% endblock content %}
</div>